body {
    background-color: blue;
}

#cabecalho {
    font-size: 40px;
    text-align: center;
}

#funcionamento {
    font-size: 20px;
}

#cria-tarefa {
    margin-left: 70px;
}

#lista-tarefas {
    font-size: 30px;
}

.task {
    width: 300px;
}

.completed {
    text-decoration: line-through;
}

.selected {
    background-color: rgb(128,128,128);
}